body {
    font-family: 'Roboto', sans-serif;
    background-color: steelblue;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
}

form {
    font-size: 30px;
}